<%
function renderAvalableSkins (skins) {
    // ToDo: use template (maybe from existing modules)
    var html = '';
    for (var i in skins) {
        html +=
        '<li class="source_catalog_list_i">' +
            '<a class="source_catalog_a source_a_g" href="?skin=' + i + '">' +
                '<img class="source_catalog_img">' +
                '<span class="source_catalog_title">' + i + '</span>' +
                '<div class="source_catalog_footer">No data</div>' +
                '<div class="source_bubble"></div>' +
            '</a>' +
        '</li>';
    }
    return html;
}
%>
<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= info.title + (info.skin ? ' - ' + info.skin.name : '') %></title>
    <meta name="author" content="<%= info.author %>">
    <% if (info.keywords !== '') { %>
    <meta name="keywords" content="<%= info.keywords %>">
    <% } %>

    <% if (info.skin) { %>
    <!-- Your master-app styles -->
        <link href="<%= info.skin.path %>/bootstrap.css" rel="stylesheet">
    <!-- /Your master-app styles -->
    <% } else { %>
        <meta name="source-page-role" content="navigation">
    <% } %>

    <!-- Source default resources -->
        <link href="/source/assets/css/source.css" rel="stylesheet">
        <script data-main="/source/assets/js/enter-the-source.js" src="/source/assets/js/require.bundle.js"></script>
    <!-- /Source default resources -->
</head>
<body>
    <div class="source_container">
        <%- header %>
    <% if (info.skin) { %>
        <h1><%= info.skin.name %> skin</h1>
        <div class="source_main source_col-main" role="main">
            <% include specs/buttons %>
        </div>
    <% } else { %>
        <div class="source_main source_col-main" role="main">
            <div class="source_subhead">
                <h1>Skins Viewer</h1>
            </div>
            <div>
                <ul class="source_catalog_list">
                <%- renderAvalableSkins(info.availableSkins) %>
                </ul>
            <div>
        </div>
    <% } %>
        <%- footer %>
    </div>
</body>
</html>
